{% extends "master.html" %}
{% from "macros.html" import movie_image, stars %}

{% block title %}{{ movie.name }}{% endblock %}

{% block main %}
  <div class="row">
    <div class="col-wide">
      <h1>{{ movie.name }}</h1>
      <p>{{ movie.description }}</p>
      <p><a href="{{ url_for("movie_tweets", mid=movie.id) }}">Show tweets about this movie</a></p>
    </div>
    <div class="col-narrow">
      {{ movie_image(movie) }}
    </div>
  </div>
  <h2>User reviews</h2>
  <p>{{ avg_stars|round(1) }} mean stars on {{ reviews|length }} reviews</p>
  {# *RIPETERE DA QUI...* #}
  {% for review in reviews %}
  <div class="row">
    <div class="col-narrow">
      <p><a href="{{ url_for("user_details", uid=review.user_id) }}">{{ review.user_name }}</a></p>
      <p class="stars">{{ stars(review.stars) }}</p>
    </div>
    <div class="col-wide">
      <p class="review-summary">{{ review.summary }}</p>
      <p class="review-text">{{ review.review }}</p>
    </div>
  </div>
  {% endfor %}
  {# *...FINO A QUI PER OGNI RECENSIONE* #}
{% endblock %}
